header #top-links {
    height: 50px;
    background-color: #FFC78F;
}

#header-flexbox {
    display: flex;
    justify-content: space-between;
}

#newsletter-sign-up {
    background-color: #E37B91;
    padding: 20px 10px 10px 10px;
}

#email-flexbox {
    display: flex;
    justify-content: flex-end;
}

#newsletter-sign-up p {
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    text-align: right;
    margin-bottom: 5px;
}

#newsletter-sign-up button {
    background-color: #8B4A66;
    color: white;
    border: none;
}

.nav-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BFDCCB;
}

main {
    width: 60%;
    height: 1000px;
}

aside {
    width: 25%;
}

.main-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

#attribution-flexbox {
    display: flex;
    justify-content: flex-start;
}

#attribution-flexbox p {
    margin-right: 10px;
}

#first-article {
    display: flex;
}

#first-article div {
    display: flex;
    flex-direction: column;
}

#second-article {
    display: flex;
}

#peeps-list li {
    list-style-type: disc;
}

#vase-list li {
    list-style-type: decimal;
}

#peeps-list {
    margin-left: 20px;
}

#vase-list {
    margin-left: 20px;
}

.div-center {
    margin-left: 10%;
    width: 80%;
    background-color: white;
}

.borders {
    background-color: #D8CBBC;
}

aside input[type="text"] {
    background-image: url("./images/magnifying-glass.png");
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: right center;
}