header #top-links {
    height: 50px;
    background-color: #FFC78F;
}

header #top-links-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60%;
    height: 100%;
    font-family: "Lucida Sans";
    font-size: 14px;
    padding-right: 15px;
}

header #top-links-flexbox a {
    text-decoration: none;
    color: #AB4D66;
}

#header-flexbox {
    display: flex;
    justify-content: space-between;
}

#newsletter-sign-up {
    background-color: #E37B91;
    padding: 20px 10px 10px 10px;
}

#email-flexbox {
    display: flex;
    justify-content: flex-end;
}

#newsletter-sign-up p {
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    text-align: right;
    margin-bottom: 5px;
}

#newsletter-sign-up button {
    background-color: #8B4A66;
    color: white;
    border: none;
}

.nav-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BFDCCB;
    padding: 0 25px 0 15px;
}

.nav-flexbox li {
    display: flex;
    align-items: center;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'PT Sans Narrow', sans-serif;
    color: #8C4C67;
    font-weight: 700;
    font-size: 17px;
    opacity: 0.8;
}

main {
    width: 60%;
    height: 1000px;
    margin-left: 30px;
    font-family: "Lucida Sans";
}

aside {
    width: 25%;
}

.main-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

h1 {
    font: bold 24px "Lucida Sans";
    margin: 30px 0 5px 0;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}

#attribution-flexbox {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
}

#attribution-flexbox p {
    margin-right: 10px;
}

#first-article {
    display: flex;
    justify-content: space-between;
    /* border: solid 2px; */
}

#first-article div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid 2px; */
    
}

#second-article {
    display: flex;
}

#peeps-list li {
    list-style-type: disc;
}

#vase-list li {
    list-style-type: decimal;
}

#peeps-list {
    margin-left: 20px;
}

#vase-list {
    margin-left: 20px;
}

#div-center {
    margin-left: 10%;
    width: 80%;
    background-color: white;
}

#borders {
    background-color: #D8CBBC;
}

aside input[type="text"] {
    background-image: url("./images/magnifying-glass.png");
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: right center;
}